@{ ViewData["Title"] = "About"; }

<h1>@ViewData["Title"]</h1>

<p class="w3-opacity"><i>We're committed to the cause</i></p>
<p class="w3-justify">
    Climate change is described as changes in the planet's temperature induced by human influences, primarily glasshouse gas emissions from fossil fuel combustion. Global temperatures are expected to climb at minimum 1.5 ° C by the year 2030. The effects of global warming are already being seen.

    Human influence is driving our planet to become warmer at an astonishing speed, according to scientific research. Scientists from all over the world have cautioned that we only have a little more than a decade to cut our emissions in half to prevent the worst effects of global warming.

    According to the National Oceanic and Atmospheric Administration, national Sea levels have risen 21–24 centimetres from 1880 to present day. This means that due to the sudden increase in temperature, ice caps have begun to melt into oceans causing the overall sea-level rise.

    Extreme weather occurrences like floods, droughts, heatwaves are becoming more prominent and violent as the earth warms. It seems those who have made the least contribution to climate change are the ones who are most harmed by these events. The climate change problem may result in migration, famine and widespread poverty if prompt action is not taken.

    In Global Climate Vision, our goal is to support those who are affected by these issues and prevent further damage from climate change occurring. We as a group must tell others about the damage caused mainly by factories that burn fossil fuels causing greenhouse gases to get trapped in the atmosphere leading to the planet heating up. This could cause harm to many animals and plants if we allow this to continue. Global warming is reversible but time is running out and we must act now. <br />

</p>
<h2>Who We Are</h2>
<p>
    We are a group of highly educated people that have a vision to reverse climate change caused by human influence globally. We have acquired various experts such as environmnetal scientists to be properly informed on prevention and elimination of human activities that affect global warming.
    Here at Global Climate Vision, we will give you the necessary resources to help you get involved in aiding the planet from the effects that are causing destruction.
    We are a large organisation that are encouraging people to become active in saving the future. Our team will continue to provide help to those who suffer from climate change and fund research that seek out solutions to this issue.
    We want to spread more awareness about global warming so we as a community can come together and stop greenhouse gas emmisions while also letting government/authorties know of this huge problem.
</p>
<h2>What We Do</h2>
<p>
    Our aim is to research and inform others about climate change and the effects it could have in the future. We have a notices section which updates people about recent stories/events relating global warming. We engage with the community and attempt to answer most questions that people ask.
    We also try to make supporting this cause fun by creating challenges and rewarding prizes to those who are positively getting involved in stopping this issue.
    We share data and reseach papers as evidence so people interested can become more educated. Services are also offered by us such as cleaning up waste for those who require it. You can donate here as well which allows us to pass your funds to those in need and suffering from impacts of global warming and for research purposes in finding ways to easily combat this issue. Your privacy is key so you can visit our privacy policy below this page, if you wish to.
    
</p>
<h2>Who We Help</h2>
<p>
    We give money made from donations to communities that may have a destroyed home or aren't able to access food due to the early effects of climate change.
    You will also find us participating in many activities such as removing plastic from beaches so wild sealife don't suffer from suffocation, poisoning and we try to make the sea overall become less polluted.
    We help those who are affected in any way to global warming and inform those who seek out any necessary details which could further their understanding of global warming. If you have any further questions about our organisation, you can visit the contact section in the home page and we will be happy to answer them.
</p>
<img src="/img/Images/logo2cropped.jpg" alt="Organisation Logo">
<br />
<a href="Notices" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<br />
<br />
<br />
<br />
<br />
