@{
    ViewData["Title"] = "Contact";
}

<link href="@Url.Content("~/css/contactpage.css")" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <img src="~/img/Images/contact-details-smartphone-business-contact-us.jpg" alt="Contact us" width="1110" height="480" />
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Get in touch</b></h2>
                <p>Require assistance? Have feedback or a querie? We’d appreicate hearing from you.</p>
                <button class="button" onclick="location.href='/Home/#contact'">Contact us</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Our locations</b></h2>
                <p>Find location and opening hours for Global Climate Vision offices across New Zealand.</p>
                <button class="button" onclick="location.href='/Workspaces'">Find our locations</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Request services</b></h2>
                <p>If you or somebody you know might benefit from our services you can request them here.</p>
                <button class="button" onclick="location.href='/Home/Services'">Request our services</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>View Notices</b></h2>
                <p>Want to view our notices? We try to keep you up to date with our news.</p>
                <button class="button" onclick="location.href='/Home/Notices'">View our notices</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Learn about us</b></h2>
                <p>If you're wondering about who we are and what we do. You can learn more about us and our organisation.</p>
                <button class="button" onclick="location.href='/Home/About'">Check out the about page</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Learn more about your privacy</b></h2>
                <p>Your privacy is our priority. We let you know what data we gather.</p>
                <button class="button" onclick="location.href='/Home/Privacy'">Check out the privacy page</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>