@{
    ViewData["Title"] = "Contact";
}

<link href="@Url.Content("~/css/contactpage.css")" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <img src="~/img/Images/leaf2.jpg" alt="Half green and half dry environment" />
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Get in touch</b></h2>
                <p>Require assistance? Have feedback or a querie? We’d appreicate hearing from you.</p>
                <button class="button" onclick="location.href='/Home/#contact'">Contact us</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Our locations</b></h2>
                <p>Find location and opening hours for Global Climate Vision offices across New Zealand.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/locations/">Find our locations</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Request services</b></h2>
                <p>You can request services here that you or someone you know would benefit from.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/access-services/">Request our services</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>View Notices</b></h2>
                <p>Want to view our notices? We try to keep you up to date with our news.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/make-a-referral/">View our notices</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Learn about us</b></h2>
                <p>If you're wondering about who we are and what we do. You can learn more about us and our organisation.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/update-your-details/">Check out the about page</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2><b>Learn more about your privacy</b></h2>
                <p>Your privacy is our priority. We let you know what data we gather.</p>
                <a class="button" href="https://blindlowvision.org.nz/contact/notify-us-of-a-deceased-person/">Check out the privacy page</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>