@page
@model _13TPIWebsite.Views.Home.Index2Model
@{
}

<style>

    .center {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 100px;
        border: 3px solid white;
        background-color: white;
    }
</style>

<div class="center">
    <h2> You have successfully sent your donation to Global Climate Vision</h2>
</div>


<head>
    <title>HTML Meta Tag</title>
    <meta http-equiv="refresh" content="3; url = /Home" />
</head>
<body>
    <p>Redirecting to Home Page</p>
</body>
