@{
    ViewData["Title"] = "Notices";
}
<h1>@ViewData["Title"]</h1>

<br />
<div id="March">
    <h2>Participate in the march</h2>
    <img src="~/img/Images/climate change protest cropped 2.jpg" alt="Protest" />
    <br />
    <h3>Are you ready to have some fun?</h3>
    <h4>Protest and have a chance to win $1000!</h4>
    <p>Let's have some fun while encouraging others to join us and discuss this ongoing issue. Who wants some money?</p>
    <h4>How does this work?</h4>
    <ol>
        <li><a href="~/Identity/Account/Register" style="color:#FF0000;">Register here if you haven't already so we can update you with the upcoming protest</a></li>
        <li>Visit any listed climate change protest site and peacefully spread awareness (we'll update you with the date and location of the next most relevant protest)</li>
        <li>Take a selfie of your presence and be creative (we like funny photos)</li>
        <li>Share this to your friends/family and post the picture on social media using the hashtag: #GCVChallenge</li>
        <li>Now you have the chance to win <b>free money!</b> Winners will be announced shortly afterwards</li>
    </ol>
    <br />
    <br />
    <br />
    <p><b>When: </b>Thurday 11 November 2021</p>
    <p><b>Where: </b>Aotea Square, Auckland</p>
    <p>This is a challenge that allows people to make notice of this disturbing issue relating to the melting ice caps and overall increase in temperature due to human activity.</p>
    <p>Our goal is to enocurage people to decrease their CO2 emmisions so that the damage caused to the environment can be reversed. And what's a better way to do this than to have fun. All you have to do is protest these issues to the world and we will choose some lucky winners that will gain $1000.</p>
    <p>We want people to positively influence each other with more awareness about this issue and tell the government and those with authority to make a change. During any protest, treat each other with respect as we discourage any violence. If you're found to cause discomfort towards those around you during a protest, you will be immediately disqualified from winning any money. Other than that, <b>have fun!</b></p>
    <a href="~/Identity/Account/Register" class="button">Register today</a>
    <style>
        .button {
            background-color: #f26e36;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</div>
<br />
<br />
<div id="Petition">
    <h2>
        Sign the petition
    </h2>
    <img src="~/img/Images/Fire of Forest.jpg" alt="Forest Fire" />
    <br />
    <br />
    <p>We update you with the most relevant and recent petition that is ralates to the ongoing crisis of climate change.</p>
    <p>Please sign any relevant petition we post because this allows your voice to be heard. We (and others) need your help in telling governments/authorties as well as passing on information to others about any relevant cliamte change issue we face.</p>
    <br />
    <a href="https://www.change.org/p/reduce-australia-s-emissions-by-50-or-more-by-2030-50by2030au" style="color:#FF0000;">Most recent/relevant climate change petition</a>
    <p>All it takes is your name and email and you can make a massive difference in combatting global warming.</p>
    <p>Every signature counts and you can help those who are in need of service as well as people who are already facing the effects of climate change. Let's come together as a community and try to find solutions to problems that could become more prominent in the future.</p>
    <p>Make a change now with as little as just acknowledging the problem so that we can find a solution.</p>
    <p>We want to say thank you and appreciate your participation in fighting this widespread issue affecting everybody in the planet we call Earth</p>
</div>
<br />
<br />
<div id="Welcome">
    <h2>Welcome to Global Climate Vision</h2>
    <img src="~/img/Images/logo2cropped.jpg" alt="Organisation Logo" />
    <h3>Who are we</h3>
    <p>We welcome you to this organisation and present to you this newly created website where we can get involved with matters relating to climate change. We are a non-profit organisation that is trying to spread awareness about the effects of global warming and are encouraging others to take action along with us.</p>
    <p>We have a vision that one day global warming will no longer be an issue to our planet but getting will take a lot of effort and time. We need people like you that can help us towards our main goal and reduce the effects of climate change. And possibly eliminate global warming caused by humans all together. So, we are just a group people who have created this organisation to heal the planet and we are in need of assisstance.</p>
    <h3>What we do</h3>
    <p>We help people reduce their carbon footprints and spread awareness of climate change.</p>
    <p>We also participate in many activities such as planting trees so donating could really us in fighting for the environment.</p>
    <p>To donate, you will need to register to our website and then you are set up and have full access to features in this website.</p>
    <h3>How we can help</h3>
    <p>We will guide you on how you can make a difference in stopping global warming, no matter how a big or small change. We offer services in helping you change your lifestyle for the health of the environment which you will need an account to access. Make sure you stay tuned for challenges and prizes that you can win from helping us in fighting global warming. We also keep you up-to-date with news/information relating to climate change.</p>
    <a href="~/Identity/Account/Register" class="button2">Register for services</a>
    <style>
        .button2 {
            background-color: #ffcb05;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</div>
<br />
<a href="Notices" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<br />
<br />
<br />
<br />
<br />
