@{
    ViewData["Title"] = "Shop";
}
<h1>@ViewData["Title"]</h1>
<img src="~/img/Images/shop-5449454_1280.png" alt="Shop Now" width="980" height="720"/>
<br />
<br />
<br />
<p>
    <a href="https://www.trademe.co.nz/a/?bof=gOPSMWcN" style="color:#FF0000;">Please click here</a> to access trade me and shop our goods, Our online store can be accessed through trade me where you can purchase the merchandise of Global Climate Vision.
</p>

<p>
    If you need a product that is not listed, please contact us on 0800 123 456 or via <a href="mailto: globalclimatevision@gmail.com" style="color:#FF0000;">globalclimatevision@gmail.com</a> and we are more than happy to support your request.
</p>

<p>
    If you wish to request services from us, you are able to do this using the link below. We appoint our best staff to assist you with your needs. We try our best to provide services with utmost quality and high levels of expertise. If you want to make a request, please visit the link below:
</p>
<p>
    <a href="~/Home/Services" style="color:#FF0000;">Request Services</a>
</p>

<p>
    Shipping for orders within New Zealand is included in all prices, and all of our goods are sent via a trackable courier system to ensure that your products reach you as quickly as possible. If you are outside of New Zealand, please contact us at <a href="mailto: globalclimatevision@gmail.com" style="color:#FF0000;">globalclimatevision@gmail.com</a> to enquire about shipping options.
</p>

<p>If you need further assistance, please visit our contact page:</p>
<p>
    <a href="/Home/#contact" style="color:#FF0000;">Click here</a>
</p>
<br />
<br />
<br />
<br />
<br />
